/* table styles */
.bufan {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
.bufan thead, .bufan tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

/* Padding and font style */
.bufan td, .bufan th {
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(95, 74, 121);
}

/* Alternating background colors */
.bufan tr:nth-child(even) {
    background: rgb(223, 216, 232)
}
.bufan tr:nth-child(odd) {
    background: #FFF
}



/* form styles */
.elegant-aero {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.elegant-aero h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
}
.elegant-aero h1>span {
    display: block;
    font-size: 11px;
}

.elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.elegant-aero label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
    color: #888;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
.elegant-aero textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.elegant-aero select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
}
.elegant-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;

}
.elegant-aero .button:hover{
    background: #3EB1DD;
}



/* main menu styles */
.nav {
    display:inline-block;
    font-size: 28px;
    margin:0;
    padding:0 0 0 0;
}
.nav li {
    margin:0;
    padding:0;
    float:left;
    position:relative;
    list-style:none;
}
.nav a {
    color:rgba(138,43,226, .8);;
    text-decoration:none;
    display:block;
    padding:20px 35px;
    transition:background 0.5s;
}

/* selected menu element */
.nav li:hover > a {
    background:#66C1E4;
}


/* sublevels */
.nav ul li:hover a, #nav li:hover li a {
    background:none;
    border:none;
    color:#000;
}
.nav ul li a:hover {
    background:rgba(255,0,0, .6);
    border-radius:0px 0px 10px 10px;
}

/* drop down */
.nav li:hover > ul {
    opacity:1;
    visibility:visible;
}
.nav ul {
    opacity:0;
    visibility:hidden;
    padding:0;
    width:150px;
    position:absolute;
    z-index:999;
    background:rgba(255,255,255, .9);
    border:1px solid #7788AA;
    border-radius:0 0 10px 10px;
}
.nav ul li {
    float:none;
    margin:0;
}
.nav ul a {
    font-weight:normal;
}
.nav ul ul {
    left:160px;
    top:0px;
}



html,body {
    background:#F6F4EC;
}
#page {
    margin:0 auto;
    width:800px;
    font-family: Microsoft YaHei;
}
a:link, #left a:visited, #left a:hover, #left a:active {
    text-decoration:none;
    color:#6633FF;
}